<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shure.surdes.survey.mapper.QuestionMapper">

    <resultMap type="Question" id="QuestionResult">
        <id property="questionId" column="question_id"/>
        <result property="surveyId" column="survey_id"/>
        <result property="questionNo" column="question_no"/>
        <result property="questionSort" column="question_sort"/>
        <result property="questionName" column="question_name"/>
        <result property="questionType" column="question_type"/>
        <result property="validateRule" column="validate_rule"/>
        <result property="showOrHide" column="show_or_hide"/>
        <result property="createTime" column="create_time"/>
        <result property="questionAttr" column="question_attr"/>
        <result property="relationResult" column="relation_result"/>
        <result property="notEdit" column="not_edit"/>
        <result property="defaultValue" column="default_value"/>
        <result property="optionDisplay" column="option_display"/>
        <result property="formula" column="formula"/>
        <result property="bookCode" column="book_code"/>
        <collection property="options" javaType="java.util.List" resultMap="optionResult"/>
    </resultMap>

    <resultMap type="Options" id="optionResult">
        <id property="optionId" column="option_id"/>
        <result property="questionId" column="question_id"/>
        <result property="optionCode" column="option_code"/>
        <result property="optionText" column="option_text"/>
        <result property="optionNo" column="option_no"/>
        <result property="hideQuestion" column="hide_question"/>
        <result property="showQuestion" column="show_question"/>
        <result property="isWtqd" column="is_wtqd"/>
        <result property="wtqdType" column="wtqd_type"/>
        <result property="wtqdValue" column="wtqd_value"/>
        <result property="wtqdSymbol" column="wtqd_symbol"/>
        <result property="wtqdDesc" column="wtqd_desc"/>
        <result property="isExtend" column="is_extend"/>
        <result property="createTime" column="create_time"/>
        <result property="logicSymbol" column="logic_symbol"/>
        <result property="surveyId" column="survey_id"/>
        <result property="bookCode" column="book_code"/>
    </resultMap>

    <sql id="selectQuestionVo">
        select t.question_id,
               t.survey_id,
               t.question_no,
               t.question_sort,
               t.question_name,
               t.question_type,
               t.validate_rule,
               t.show_or_hide,
               t.question_attr,
               t.relation_result,
               t.not_edit,
               t.default_value,
               t.formula,
               t.option_display,
               o.option_id,
               o.question_id,
               o.option_code,
               o.option_text,
               o.option_no,
               o.hide_question,
               o.show_question,
               o.is_wtqd,
               o.wtqd_type,
               o.wtqd_value,
               o.wtqd_symbol,
               o.wtqd_desc,
               o.is_extend,
               o.logic_symbol,
               o.survey_id
        from tb_question t
                 left join tb_options o on t.question_id = o.question_id
    </sql>

    <select id="selectQuestionList" parameterType="Question" resultMap="QuestionResult">
        <include refid="selectQuestionVo"/>
        <where>
            <if test="surveyId != null ">and survey_id = #{surveyId}</if>
            <if test="questionNo != null  and questionNo != ''">and question_no = #{questionNo}</if>
            <if test="questionSort != null ">and question_sort = #{questionSort}</if>
            <if test="questionName != null  and questionName != ''">and question_name like concat('%', #{questionName}, '%')</if>
            <if test="questionType != null  and questionType != ''">and question_type = #{questionType}</if>
            <if test="validateRule != null  and validateRule != ''">and validate_rule = #{validateRule}</if>
            <if test="showOrHide != null  and showOrHide != ''">and show_or_hide = #{showOrHide}</if>
            <if test="questionAttr != null  and questionAttr != ''">and question_attr = #{questionAttr}</if>
            <if test="relationResult != null  and relationResult != ''">and relation_result = #{relationResult}</if>
            <if test="notEdit != null  and notEdit != ''">and not_edit = #{notEdit}</if>
            <if test="defaultValue != null  and defaultValue != ''">and default_value = #{defaultValue}</if>
            <if test="optionDisplay != null  and optionDisplay != ''">and option_display = #{optionDisplay}</if>
            <if test="formula != null  and formula != ''">and formula = #{formula}</if>
            <if test="bookCode != null  and bookCode != ''">and book_code = #{bookCode}</if>
        </where>
        order by t.question_sort
    </select>

    <select id="selectQuestionByQuestionId" parameterType="Long" resultMap="QuestionResult">
        <include refid="selectQuestionVo"/>
        where t.question_id = #{questionId}
    </select>

    <select id="selectQuestionListBySurvey" parameterType="Long" resultMap="QuestionResult">
        <include refid="selectQuestionVo"/>
        where t.survey_id = #{surveyId}
        order by t.question_sort
    </select>

    <insert id="insertQuestion" parameterType="Question" useGeneratedKeys="true" keyProperty="questionId">
        insert into tb_question
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="surveyId != null">survey_id,</if>
            <if test="questionNo != null">question_no,</if>
            <if test="questionSort != null">question_sort,</if>
            <if test="questionName != null">question_name,</if>
            <if test="questionType != null">question_type,</if>
            <if test="validateRule != null">validate_rule,</if>
            <if test="showOrHide != null">show_or_hide,</if>
            <if test="createTime != null">create_time,</if>
            <if test="questionAttr != null">question_attr,</if>
            <if test="relationResult != null">relation_result,</if>
            <if test="notEdit != null">not_edit,</if>
            <if test="defaultValue != null">default_value,</if>
            <if test="optionDisplay != null">option_display,</if>
            <if test="formula != null">formula,</if>
            <if test="bookCode != null">book_code,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="surveyId != null">#{surveyId},</if>
            <if test="questionNo != null">#{questionNo},</if>
            <if test="questionSort != null">#{questionSort},</if>
            <if test="questionName != null">#{questionName},</if>
            <if test="questionType != null">#{questionType},</if>
            <if test="validateRule != null">#{validateRule},</if>
            <if test="showOrHide != null">#{showOrHide},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="questionAttr != null">#{questionAttr},</if>
            <if test="relationResult != null">#{relationResult},</if>
            <if test="notEdit != null">#{notEdit},</if>
            <if test="defaultValue != null">#{defaultValue},</if>
            <if test="optionDisplay != null">#{optionDisplay},</if>
            <if test="formula != null">#{formula},</if>
            <if test="bookCode != null">#{bookCode},</if>
        </trim>
    </insert>

    <update id="updateQuestion" parameterType="Question">
        update tb_question
        <trim prefix="SET" suffixOverrides=",">
            <if test="surveyId != null">survey_id = #{surveyId},</if>
            <if test="questionNo != null">question_no = #{questionNo},</if>
            <if test="questionSort != null">question_sort = #{questionSort},</if>
            <if test="questionName != null">question_name = #{questionName},</if>
            <if test="questionType != null">question_type = #{questionType},</if>
            <if test="validateRule != null">validate_rule = #{validateRule},</if>
            <if test="showOrHide != null">show_or_hide = #{showOrHide},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="questionAttr != null">question_attr = #{questionAttr},</if>
            <if test="relationResult != null">relation_result = #{relationResult},</if>
            <if test="notEdit != null">not_edit = #{notEdit},</if>
            <if test="defaultValue != null">default_value = #{defaultValue},</if>
            <if test="optionDisplay != null">option_display = #{optionDisplay},</if>
            <if test="formula != null">formula = #{formula},</if>
            <if test="bookCode != null">book_code = #{bookCode},</if>
        </trim>
        where question_id = #{questionId}
    </update>

    <delete id="deleteQuestionByQuestionId" parameterType="Long">
        delete
        from tb_question
        where question_id = #{questionId}
    </delete>

    <delete id="deleteQuestionByQuestionIds" parameterType="String">
        delete from tb_question where question_id in
        <foreach item="questionId" collection="array" open="(" separator="," close=")">
            #{questionId}
        </foreach>
    </delete>

    <delete id="deleteQuestionBySurveyIds" parameterType="String">
        delete from tb_question where survey_id in
        <foreach item="questionId" collection="array" open="(" separator="," close=")">
            #{surveyId}
        </foreach>
    </delete>

    <update id="updateQuesiotnNo" parameterType="java.util.List">
        update tb_question
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="question_sort = case" suffix="end,">
                <foreach collection="list" item="i">
                    <if test="i.questionSort != null">
                        when question_id=#{i.questionId} then #{i.questionSort}
                    </if>
                </foreach>
            </trim>
            <trim prefix="question_no = case" suffix="end,">
                <foreach collection="list" item="i">
                    <if test="i.questionNo != null">
                        when question_id=#{i.questionId} then #{i.questionNo}
                    </if>
                </foreach>
            </trim>
        </trim>
        <where>
            question_id in (
            <foreach collection="list" separator="," item="i">
                #{i.questionId}
            </foreach>
            )
        </where>

    </update>
</mapper>
